#container {
    width: 400px;
    border: 1px solid;
}
#container div {
}
#container p {
    clear: both;
    border: 1px solid #80bdff;
    display: block;
}
#d1 {
    background: #0c5460;
    width: 100px;
    height: 100px;
}
#d2 {
    margin-left: 40px;
    float: left;
    background: #1c7430;
    width: 100px;
    height: 150px;

}
#d3 {
    background: #4b6cd0;
    color: black;
    width: 200px;
    height: 100px;
}
#d4 {
    background: red;
}
